<h1 style="text-align: center"></h1>

<form [formGroup]="checkoutForm" (ngSubmit)="SignUp()">

  <div>
    <label for="username" class="form-input">Username</label><input #username required id="username" class="form-input" type="text" formControlName="username" (click)="username.value = null">
  </div>

  <div>
    <label for="password" class="form-input">Password</label><input #password required id="password" class="form-input" type="password" formControlName="password" (click)="password.value = null">
  </div>

  <div>
    <input #birthdate required id="birthdate" type="date" class="form-input" formControlName="birthdate">
  </div>

  <div>
    <re-captcha (resolved)="resolved($event)" class="form-input" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
  </div>


  <button class="button form-input"  type="submit">Register</button>

</form>

