/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: #ffb08b;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.row {
  margin: 0 0 auto;
  background-color: #a47b54;
  width: 100%;
}

.img-slot{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.form-input{
  width: 250px;
  display: block;
  text-align: center;
  margin: 10px auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F9FA;
}

.fill img {
  min-width: 100%;
  min-height: 100%;
}

.fill img:hover {
  background-color:#000;
  opacity:0.9;
}

.slot {
  border-left: 3px;
  border-right: 3px;
  border-bottom: 1px;
  border-top: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
}
